body {
  background-color: grey;
  text-align: center;
}

#board {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 200px);
}

#award {
  color: gold;
}

.tile {
  width: 200px;
  height: 200px;
}

