body {
  background-color: grey;
  text-align: center;
}

#board {
  justify-content: center;
  display: grid;
  /*grid-template-columns: repeat(4, auto);*/
  grid-template-rows: repeat(var(--grid-rows), 100px);
  grid-template-columns: repeat(var(--grid-cols), 100px);
  margin: auto;
  width: 400px;
}

#award {
  color: gold;
}

.grid-item {
  width: 96px;
  height: 96px;
  border: 2px solid black;
  font-size: 40px;
  text-align: center;
  color: yellow;
}

