body {
  background-color: grey;
  text-align: center;
}

#board {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 200px);
}

#award {
  color: gold;
}

.grid_item {
  width: 100px;
  height: 100px;
  border: 2px black;
  font: sans-serif;
}

